{% extends 'template.html.twig' %}

{% block body %}
<table class="table">
    {% for note in notes %}
    <tr>
        <td>{{ note }}</td>
    </tr>
    {% endfor %}
</table>
<div class="alert alert-info">
    <p>Nombre de notes : {{ notes | length }}</p>
    <p>Note minimale : {{ min(notes) }}</p>
    <p>Note maximale : {{ max(notes) }}</p>

</div>
{% endblock %}