<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block titreDuDocument %}
            Titre par défaut du Document
        {% endblock %}
    </title>
</head>
<body>
header
<hr>
{% block corpDuDocument %}
    Du contenu par défaut du bloc corpDuDocument
{% endblock %}
<hr>
Footer
</body>
</html>