{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
    Nouveau Titre
{% endblock %}

{% block corpDuDocument %}
    {{
        parent()
    }}

    <ol>
        <li>Nouveau contenu</li>
        <li>J'adore l'héritage dans TWIG</li>
    </ol>
{% endblock %}
